body {
    margin: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    position: relative;
}

.photo {
    width: 398.59px; /* Adjust this width to fit your needs */
    height: 980px; /* Adjust this height to fit your needs */
}

.countdown {
    font-size: 3em;
    position: absolute;
    bottom: 20px; /* Adjust this value to position the timer at the bottom */
    left: 50%;
    transform: translateX(-50%);
}

#startButton {
    font-size: 1em;
    margin-top: 10px;
}
