body {
    margin: -40;
    padding: 0; /* Add this to remove default padding */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    position: relative;
}

.photo {
    width: 398.59px; /* Adjust this width to fit your needs */
    height: 570px; /* Adjust this height to fit your needs */
    object-fit: cover; /* Add this to make sure the entire image is visible */
}

.countdown {
    font-size: 3em;
    position: absolute;
    bottom: -15px; /* Adjust this value to position the timer closer to the bottom */
    left: 50%;
    transform: translateX(-50%);
}

#startButton {
    font-size: 1em;
    margin-top: 50px;
    cursor: pointer; /* Add this to change the cursor to a pointer on hover */
    transition: background-color 0.3s ease; /* Add a transition effect for smoother color change */
}

#startButton.clicked {
    background-color: green; /* Change this to the desired color when clicked */
}
